bcrypt==4.3.0
bip39==0.0.2
black==24.8.0
eth-account==0.8.0
flask-caching==2.3.0
flask-cors==6.0.1
flask-limiter==3.5.0
flask-session==0.6.0
flask==3.1.2
gunicorn==21.2.0
hdwallet==2.2.1
isort==5.13.2
mnemonic==0.20
pytest==7.4.0
python-dotenv==1.0.0
python-dotenv==1.0.1
requests==2.31.0
web3==6.15.1
